@use 'variables' as v;

/* =====================================
                MOBILE
======================================== */

.section-limitations {
    padding: 0 var(--page-padding);
    margin-bottom: 4.5rem;
}

.curve-right { display: none; }

.limitations-text {
    text-align: center;
    margin-bottom: 3.5rem;
}

.limitations-text p {
    margin-top: 2rem;
}

.limitation-card {
    padding: 1.5rem;
    box-shadow: v.$shadow;
    border-radius: 1rem;
    background-color: v.$clr-white;
}

.limitation-card p {
    margin-top: 1rem;
}

.card-heading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.card-heading-container img {
    width: 2rem;
    aspect-ratio: 1 / 1;
}


/* =====================================
                TABLET
======================================== */

@media (min-width: 48rem) {

    .section-limitations {
        margin-bottom: 6rem;
        padding: 0;
    }

    .grid.section-limitations {
        column-gap: 1rem;
    }

    .grid-item.limitations-text {
        grid-column: 2 / span 12;
    }

    .grid-item.card1,
    .grid-item.card3 {
        grid-column: 2 / span 6;
    }

    .grid-item.card2,
    .grid-item.card4 {
        grid-column: 8 / span 6;
    }

    .grid-item.card5 {
        grid-column: 5 / span 6;
    }

    .limitation-card {
        padding: 2rem;
    }

}