@use 'variables' as v;

/* =====================================
                MOBILE
======================================== */

// LAYOUT

.grid.section-calculator {
    grid-template-rows: auto 10.5rem auto;
    row-gap: 3rem;
}

.section-calculator .grid-item {
    grid-column: 1 / 2;
}

.grid-item.calculator-info {
    grid-row: 1 / 3;
}

.grid-item.calculator-form {
    grid-row: 2 / 4;
}

// INFO

.calculator-info {
    padding: 0 var(--page-padding) 13.5rem;
    text-align: center;
    background: v.$grad-light-blue;
    border-radius: 0 0 2rem 2rem;
}

.logo {
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    margin: 2rem auto 0;
}

.calculator-info h1 {
    margin: 1.5rem 0;
}


// FORM

.calculator-form {
    display: grid;
    gap: 1.5rem;
    margin: 0 1.375rem;
    padding: 1.5rem;
    background: v.$clr-white;
    border-radius: 1rem;
    box-shadow: v.$shadow;
}


// RADIO GROUP

.radio-fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.radio-container {
    display: flex;
    gap: 1.125rem;
    align-items: center;
}

.radio-container label {
    font-weight: 700;
    color: v.$clr-gunmetal;
}

// NUMERIC INPUTS

.metric-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.metric-legend {
    margin-bottom: .5rem;
    font-size: .875rem;
}

.imperial-container {
    display: flex;
    gap: 1rem;
}

.input-container {
    font-weight: 600;
    font-size: 1.5rem;
    position: relative;
}

.input-container label {
    position: absolute;
    right: 1.5rem;
    top: 1.25rem;
    line-height: 1;
    color: v.$clr-blue;
}

// RESULT

.result-container {
    padding: 2rem;
    border-radius: 1rem;
    background: v.$grad-dark-blue;
    color: v.$clr-white;
}

.result-welcome h3 {
    color: v.$clr-white;
    margin-bottom: 1.5rem;
}

p.bmi-score {
    margin-top: .5rem;
    color: v.$clr-white;
}

.bmi-status-text {
    margin-top: 1.5rem;
}

.bmi-weight-range {
    font-weight: 600;
}


/* =====================================
                TABLET
======================================== */

@media (min-width: 48rem) {

    // LAYOUT
    
    .section-calculator .grid-item {
        grid-column: 1 / -1;
    }
    
    // INFO
    
    .calculator-info h1 {
        margin: 2.5rem auto 2rem;
        max-width: 15ch;
    }

    // CALCULATOR FORM

    .calculator-form {
        gap: 2rem;
        margin: 0 var(--page-padding);
        padding: 2rem;
    }

    .metric-container {
        flex-direction: row;
        gap: 1.5rem;
    }

    // RESULT

    .result-container {
        display: grid;
        grid-template-columns: auto auto;
        border-radius: 15rem 100rem 100rem 15rem;
    }

    .result-bmi {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding-right: 1rem;
    }

    .bmi-status-text {
        margin-top: 0;
    }
    
}