@use 'variables' as v;

.heading-xl,
.heading-l,
.heading-m,
.heading-s {
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -0.0499em;
    color: v.$clr-gunmetal;
}

.heading-xl {
    font-size: 3rem;
}

.heading-l {
    font-size: 2rem;
}

.heading-m {
    font-size: 1.5rem;
}

.heading-s {
    font-size: 1.25rem;
}

.body-m-bold {
    font-size: 1rem;
    font-weight: 600;
    color: v.$clr-gunmetal;
}

.body-sm {
    font-size: .875rem;
}


// Desktop

@media (min-width: 75em) {
    .heading-xl {
        font-size: 4rem;
    }
    
    .heading-l {
        font-size: 3rem;
    }
}